@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* GENERAL STYLE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.title {
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}

.image {
  height: 400px;
  width: 100%;
  background-color: white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.image1 {
  background-image: url(./images/image1.jpg);
}

.image2 {
  background-image: url(./images/image2.jpg);
}

.image3 {
  background-image: url(./images/image3.jpg);
}

.image4 {
  background-image: url(./images/image4.jpg);
}

/* SLIDER */
.section__slider {
  background-color: black;
  width: 700px;
  height: 540px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border-radius: 20px;
}

.slider {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  height: 500px;
  display: grid;
  grid-template-areas:
    'slider slider slider'
    'title title buttons';
}

.slider__wrapper {
  grid-area: slider;
  display: flex;
  overflow: hidden;
  list-style-type: none;
  transition: all 0.3s ease-out;
  width: 400%;
  margin-top: 30px;
  /* 4 sliders */
}

.slider__item {
  position: relative;
  width: calc(100% / 4);
}

.slider__subtitle {
  width: 500%;
  overflow: hidden;
  display: flex;
  grid-area: title;
  transition: all 0.3s ease-out;
}

.subtitle {
  width: calc(100% / 4);
}

/* RADIO */
input[type='radio'] {
  display: none;
}

/* LABELS */

.controls-labels {
  grid-area: buttons;
  background-color: black;
  z-index: 99;
}

.label {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  background: rgb(37, 102, 223);
  border-radius: 50%;
  border: 2px solid rgb(37, 102, 223);
  cursor: pointer;
  transition: all 0.2s ease-out;
  margin: 0 4px;
}

.label:hover {
  background: white;
  border: 2px solid white;
}

.label:last-child {
  margin-right: 0;
}

/* ANIMATION SLIDER */

/* slider 1 */

#control1:checked ~ .slider__wrapper {
  transform: translateX(0%);
}

#control1:checked ~ .slider__subtitle {
  transform: translateX(0%);
}

#control1:checked ~ .controls-labels .label:nth-child(1) {
  background: transparent;
}

/* slider 2 */

#control2:checked ~ .slider__wrapper {
  transform: translateX(-25%);
}

#control2:checked ~ .slider__subtitle {
  transform: translateX(-25%);
}

#control2:checked ~ .controls-labels .label:nth-child(2) {
  background: transparent;
}

/* slider 3 */

#control3:checked ~ .slider__wrapper {
  transform: translateX(-50%);
}

#control3:checked ~ .slider__subtitle {
  transform: translateX(-50%);
}

#control3:checked ~ .controls-labels .label:nth-child(3) {
  background: transparent;
}

/* slider 4 */

#control4:checked ~ .slider__wrapper {
  transform: translateX(-75%);
}

#control4:checked ~ .slider__subtitle {
  transform: translateX(-75%);
}

#control4:checked ~ .controls-labels .label:nth-child(4) {
  background: transparent;
}
